<p id="notice"><%= notice %></p>

<h2><%= @beer_club.name %></h2>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<h3>Members</h3>
<ul>
  <% @beer_club.memberships.each do |membership| %>
      <li><%= link_to membership.user.username, membership.user %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) %> |
<%= link_to 'Back', beer_clubs_path %>
