<p id="notice"><%= notice %></p>

<h2><%= @style.name %></h2>

<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>

<p>Beers:</p>
<ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
  <% end %>
</ul>

<%= edit_and_destroy_buttons(@style) %>
