<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %></h2>

<p>
<i>Established at <%= @brewery.year %></i>
</p>

<p>
Number of beers: <%= @brewery.beers.count %>
</p>

<p>
    <% @brewery.beers.each do |beer| %>
        <%= link_to beer.name, beer %>
    <% end %>
</p>

<% if @brewery.ratings.empty? %>
  <p>None of this brewery's beers has yet been rated!</p>
<% else %>
    <p>Has <%= pluralize(@brewery.ratings.count, 'rating', 'ratings') %>, average <%= @brewery.average_rating %></p>
<% end %>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
