<h2><%= @place.name %></h2>

<p><%= @place.street %></p>
<p><%= @place.city %> <%= @place.zip %></p>

<iframe src="<%= @place.blogmap %>" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="635" height="400"></iframe>
